.title{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body2{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(127, 212, 212);
}
.t1{
    margin-top: 30px;
    margin-right: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.t2{
    width: 300px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.t3{
    margin-top: 20px;
    margin-right: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.t4{
    width: 300px;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.t5{
    margin-top: 20px;
    margin-right: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.t6{
    width: 300px;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.body2 .last{
    width: 620px;
    margin-top: 20px;
    height: 50px;
    border: none;
    border-radius: 5px;
    
}
.last2{
    width: 626px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(66, 62, 62);
}