.line1{
    display: flex;
    padding: 10px;
}

.img1{
    width: 30px;
    border-radius: 50%;
}
.para{
    font-size: 10px;
}
.img2{
    width: 200px;
}
button{
    
    margin-right: 10px;
    text-align: center;
    width: 70px;
    border: none;
}
